.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.mainScore{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playerDiv,
.computerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comBtn{
    cursor: not-allowed;
}

#reset:hover{
    cursor: pointer;
    color:orange;
}